<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card text-center">
        <div class="car-header">
          <h3 class="text-uppercase">Editar Comprobante</h3>
        </div>
        <div class="card-body">
          <form action="/comprobantes_edit/{{comprobante.id}}" method="post">
            <div class="input-group mt-2">
              <label for="" class="input-group-text">Número de Comprobante</label>
              <input
                class="form-control"
                type="text"
                name="Num_com"
                id="Num_com"
                value="{{comprobante.Num_com}}"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="tipoDocumento" class="input-group-text">Tipo de Documento</label>
              <select
                class="form-control"
                id="Tip_Doc"
                name="Tip_Doc"
                value="{{comprobante.Tip_Doc}}"
                required
              >
                <option value="Boleta">Boleta</option>
                <option value="Factura">Factura</option>
              </select>
            </div>
            <div class="input-group mt-2">
              <label for="origen" class="input-group-text">Origen</label>
              <select class="form-control" id="Ori" name="Ori" value="{{comprobante.Ori}}" required>
                <option value="Venta">Venta</option>
                <option value="Compra">Compra</option>
              </select>
            </div>
            <div class="input-group mt-2">
              <label for="fecha" class="input-group-text">Fecha</label>
              <input
                type="date"
                class="form-control"
                id="fec"
                name="fec"
                value="{{comprobante.fec}}"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="montoTotal" class="input-group-text">Monto Total</label>
              <input
                type="number"
                class="form-control"
                id="Mon_Tot"
                name="Mon_Tot"
                step="0.01"
                value="{{comprobante.Mon_Tot}}"
                required
              />
            </div>
            <div class="form-group mt-4 d-grid gap-2">
              <button>
                Crear Comprobante
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>