<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-uppercase">Editar Comprobante</h3>
        </div>
        <div class="card-body">
          <form
            action="/comprobantes_edit/{{comprobante.Num_com}}"
            method="post"
          >
            </div>
            <div class="input-group mt-2">
              <label for="tipoDocumento" class="input-group-text">Tipo de
                Documento</label>
              <select
                class="form-control"
                id="Tip_Doc"
                name="Tip_Doc"
                value="{{comprobante.Tip_Doc}}"
                required
              >
                <option value="Boleta">Boleta</option>
                <option value="Factura">Factura</option>
              </select>
            </div>
            <div class="input-group mt-2">
              <label for="origen" class="input-group-text">Origen</label>
              <select
                class="form-control"
                id="Ori"
                name="Ori"
                value="{{comprobante.Ori}}"
                required
              >
                <option value="Venta">Venta</option>
                <option value="Compra">Compra</option>
              </select>
            </div>
            <div class="input-group mt-2">
              <label for="fecha" class="input-group-text">Fecha</label>
              <input
                type="date"
                class="form-control"
                id="Fec"
                name="Fec"
                value="{{formatDate comprobante.Fec}}"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="montoTotal" class="input-group-text">Monto Total</label>
              <input
                type="number"
                class="form-control"
                id="Mon_Tot"
                name="Mon_Tot"
                step="0.01"
                value="{{comprobante.Mon_Tot}}"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="numInforme" class="input-group-text">Número de Informe Financiero</label>
              <select
                class="form-control"
                id="Num_Inf" 
                name="Num_Inf"
                value="{{comprobante.Num_Inf}}"
                required
              >

                {{#each numerosInformes}}
                  <option value="{{this.num_inf}}">{{this.num_inf}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group mt-4 d-grid gap-2">
              <button>
                Editar Comprobante
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function formatDateForInput(dateString) { const dateObject = new
  Date(dateString); const year = dateObject.getFullYear(); const month =
  String(dateObject.getMonth() + 1).padStart(2, '0'); const day =
  String(dateObject.getDate()).padStart(2, '0'); // return
  `${year}-${month}-${day}`; } document.addEventListener('DOMContentLoaded',
  function() { const fechaInput = document.getElementById('Fec'); // if
  (fechaInput) { fechaInput.value = formatDateForInput("{{comprobante.Fec}}"); }
  });
</script>